name: Build Music App

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Мы НЕ генерируем wrapper, а сразу запускаем сборку системным gradle
      - name: Build with System Gradle
        run: |
          gradle assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MusicApp-Debug
          path: app/build/outputs/apk/debug/*.apk
